.gallery-text {
    z-index: 3;
    width: 95%; 
    position: relative;
    max-width: 350px; 
    font-size: 30px; 
    transition: transform 0.3s ease;
    cursor: pointer;
    color: white; 
    text-decoration: none;
}

.gallery-text:hover {
    color: white; 
    text-decoration: none; 
    transform: scale(1.05);
}

.gallery-text-1 {
    margin-bottom: 90px; 
}

.gallery-text-2 {
    margin-top: 90px; 
}
