@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&subset=cyrillic');

body {
    margin: 0;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.central-click {
    position: absolute;
    font-size: 155px;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.random-click {
    position: absolute;
    font-size: 50px; /* Smaller than the central click */
    color: white;
    opacity: 0.5; /* Less prominent than the central click */
}


.typing {
    font-size: 155px;
    display: flex;
    align-items: center;
}

.cursor {
    display: inline-block;
    width: 15px; /* Smaller than text size */
    height: 15px; /* Smaller than text size */
    background-color: white;
    margin-left: 5px;
    animation: blink 1.5s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .typing {
        font-size: 65px; /* Smaller font size for mobile devices */
    }

    .cursor {
        width: 12px;
        height: 12px;
    }
}
