body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#background-image {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/void.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center 10%; 
}

#cover-link {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
}

#cover-image {
    position: fixed;
    top: 75%; 
    left: 48.5%;
    transform: translate(-50%, -50%);
    background: url('../img/cover.png') no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 200px; 
    cursor: pointer;
}



/* .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    position: relative;
}

.play-button {
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
} */