@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.container {
    position: relative;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mosaic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    pointer-events: none; 
}

.background-image {
    position: fixed;
    top: 50%; 
    left: 50%;
    width: 265px; 
    height: 200px;
    background: url('../img/lifeinc.png') no-repeat center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    filter: blur(5px);
    z-index: 1;
}

.gradient-link {
    text-decoration: none;
    font-size: 70px; 
}

.gradient-link svg {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.gradient-link svg text {
    fill: url(#text-gradient);
    font-size: 36px; 
}


.gradient-text {
    background: linear-gradient(to right, lightcoral, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
}

.text-item {
    position: absolute;
    color: white;
    font-size: 30px;
    user-select: none;
    pointer-events: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 1.4; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 80vw; 
}

@media (max-width: 768px) {
    .text-item {
        font-size: 20px; 
        line-height: 1.6; 
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px; 
}

.gallery-img {
    width: 95%; 
    max-width: 350px; 
    font-size: 30px; 
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px; 
    color: white; 
    text-decoration: none;
}

.gallery-img:visited {
    color: white;
}

.gallery-img:hover {
        color: white; 
        text-decoration: none; 
        transform: scale(1.05);
}

.welcome-message, .message {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 2px solid #444;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    overflow: hidden; 
    white-space: nowrap; 
}

button:hover {
    background-color: #555;
}

#message-container {
    font-size: 34px; /* Increase the font size as needed */
    white-space: pre-line;
    /* Other styling properties */
}

.random-link {
    position: absolute;
    color: #fff; 
    text-decoration: none;
    font-size: 14px; 
    z-index: 10; 

    top: calc(10% + (90% * var(--random-top)));
    left: calc(10% + (90% * var(--random-left)));
}

@keyframes glitchAnimation {
    0%, 100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
      opacity: 0.8;
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
      opacity: 0.6;
    }
    30%, 70% {
      transform: translate3d(-2px, -2px, 0);
      opacity: 0.4;
    }
    40%, 60% {
      transform: translate3d(2px, 2px, 0);
      opacity: 0.2;
    }
    50% {
      transform: translate3d(2px, -2px, 0);
      opacity: 0;
    }
  }
  
  .glitch {
    animation: glitchAnimation 0.5s infinite alternate;
  }